@font-face {
  font-family: "blackletter";
  src: url("./assets/blacklettersh-webfont.woff2") format("woff2"),
    url("./assets/blacklettersh-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Momoyo";
  src: url("./assets/momoyo-webfont.woff2") format("woff2"),
    url("./assets/momoyo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fontdark,
.fontdarkhero {
  font-size: 5em;
  letter-spacing: 0.1em;
  font-family: "blackletter";
  overflow-wrap: break-word;
  color: greenyellow;
}

.fontlight,
.fontlighthero {
  font-size: 5em;
  overflow-wrap: break-word;
  letter-spacing: 0.1em;
  font-family: "Momoyo";
  color: pink;
}

.fontdarkhero {
  font-size: 10em;
}

.fontlighthero {
  font-size: 10em;
}

button {
  padding: 10px;
  color: antiquewhite;
}

html,
body,
#root,
.App {
  min-height: 100%;
  width: 100%;
  color: antiquewhite;
  text-align: center;
}

.light {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.dark {
  background: rgb(158, 255, 153) fixed;
  background: linear-gradient(
    0deg,
    rgba(158, 255, 153, 0.6713060224089635) 0%,
    rgba(0, 0, 0, 1) 36%
  );
}

.main {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 50px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  font-size: 2em;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 55px;
}

.btnlight {
  background-color: #d6b2d9;
  border-radius: 10px;
  border-style: none;
  min-width: 66px;
  height: 44px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.btnlight:hover {
  /* background-color: #d6b2d9d7; */
  box-shadow: rgba(240, 46, 170, 0.4) 7px 7px, rgba(240, 46, 170, 0.3) 12px 12px,
    rgba(240, 46, 170, 0.2) 17px 17px, rgba(240, 46, 170, 0.1) 22px 22px,
    rgba(240, 46, 170, 0.05) 27px 27px;
}

.btndark {
  background-color: greenyellow;
  color: black;
  border-radius: 10px;
  border-style: none;
  min-width: 66px;
  height: 44px;
  box-shadow: rgba(46, 240, 62, 0.4) 5px 5px, rgba(46, 240, 62, 0.3) 10px 10px,
    rgba(46, 240, 62, 0.2) 15px 15px, rgba(46, 240, 62, 0.1) 20px 20px,
    rgba(46, 240, 62, 0.05) 25px 25px;
}

.btndark:hover {
  /* background-color: #d6b2d9d7; */
  box-shadow: rgba(46, 240, 62, 0.4) 7px 7px, rgba(46, 240, 62, 0.3) 12px 12px,
    rgba(46, 240, 62, 0.2) 17px 17px, rgba(46, 240, 62, 0.1) 22px 22px,
    rgba(46, 240, 62, 0.05) 27px 27px;
}

.heroContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .fontdark {
    font-size: 5em;
  }
  .fontlight {
    font-size: 5em;
  }
  .fontdarkhero {
    font-size: 5em;
  }
  .fontlighthero {
    font-size: 5em;
  }
}

@media (max-width: 530px) {
  .fontdark {
    font-size: 3em;
  }
  .fontlight {
    font-size: 3em;
  }
  .fontdarkhero {
    font-size: 5em;
  }
  .fontlighthero {
    font-size: 5em;
  }
}
