.greeting {
  font-size: 10vh;
  font-family: "Blackletter Shadow";
  color: greenyellow;
}

html,
body,
#root,
.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: antiquewhite;
}

/* p { */
/* color: antiquewhite; */
/* } */

.main {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
