.fontdark {
  font-size: 10vh;
  font-family: "Blackletter Shadow";
  color: greenyellow;
}

.fontlight {
  font-size: 10vh;
  font-family: "Momoyo";
  color: pink;
}

button {
  padding: 10px;
  color: antiquewhite;
}

html,
body,
#root,
.App {
  height: 100vh;
  width: 100vw;
  /* background: rgb(158, 255, 153); */
  /* background: linear-gradient( */
  /* 0deg, */
  /* rgba(158, 255, 153, 0.6713060224089635) 0%, */
  /* rgba(0, 0, 0, 1) 36% */
  /* ); */
  background: rgb(255, 153, 216);
  background: linear-gradient(
    0deg,
    rgba(255, 153, 216, 0.6713060224089635) 0%,
    rgba(255, 255, 255, 1) 36%
  );
  color: antiquewhite;
}

.dark {
  height: 100vh;
  width: 100vw;
  background: rgb(158, 255, 153);
  background: linear-gradient(
    0deg,
    rgba(158, 255, 153, 0.6713060224089635) 0%,
    rgba(0, 0, 0, 1) 36%
  );
}

.main {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
